:root {
  --summarize-color-white: #fff;
  --summarize-color-gray-2: #fafafa;
  --summarize-color-divider: #eeeeee;
  --summarize-color-black: #222;
}

.summarize__main-body {
  background-color: var(--summarize-color-white);
  box-shadow: rgba(0, 0, 0, 0.05) -3px 9px 28px 8px,
    rgba(0, 0, 0, 0.08) -3px 6px 16px, rgba(0, 0, 0, 0.12) -1px 3px 6px -4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 96%;
  max-width: 480px;
  min-height: 350px;
  min-width: 480px;
  opacity: 1;
  position: fixed;
  right: 16px;
  top: 32px;
  z-index: 2147483646;
  font-family: Inter, sans-serif !important;
  border-radius: 20px;
  transition: all 0.4s ease 0s;
}
.summarize__main-body__top-bar {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--summarize-color-gray-2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0px 15px;
  border-bottom: 1px solid var(--summarize-color-divider);
}
/* .topBar_lhs {
  all: initial;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 8px;
} */
.summarize__main-body__top-bar__rhs {
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 8px;
}
.summarize__main-body__top-bar__rhs__element {
  display: flex;
}
.summarize__main-body__top-bar__rhs__element__closeButton {
  all: initial;
  color: var(--summarize-color-black);
  z-index: 2147483647;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
  background: none;
  border-radius: 8px;
}
.summarize__content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  min-height: 364px;
  max-height: 784px;
  overflow-y: scroll;
  transition: min-height 0.3s ease 0s;
}
.summarize__content-outer-container {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.5s ease-in 0s;
}
.summarize__content-inner-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
  width: 100%;
  height: 100%;
  min-height: 364px;
  position: relative;
  font-family: "IBM Plex Sans", sans-serif !important;
  padding: 16px 24px 6px;
}

.summarize__content-inner-container .prefix {
  font-weight: bold;
  background-color: var(--summarize-color-white);
  color: var(--summarize-color-black);
}

.summarize__content-inner-container .loading {
  color: var(--summarize-color-black);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.summarize__content-inner-container pre {
  white-space: pre-wrap;
  min-width: 0px;
  margin-bottom: 0px;
  line-height: 20px;
  background-color: var(--summarize-color-white);
  color: var(--summarize-color-black);
}

#copy-button {
  position: absolute;
  top: 15px;
  right: 45px;
  padding: 0;
}
